{% extends 'dashboard.j2.html' %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">About</h4>
    </div>
    <div class="card-body">
      <h2>What is this?</h2>
      <p>
        This site was created as a frontend to
        <a href="https://github.com/glisignoli/fcreplay">fcreplay</a>. Replays
        can be submitted for encoding using the
        <a href="/submit">submit</a> page.
      </p>
      <h2>FAQ</h2>
      <h3>Why are some thumbnails/videos missing?</h3>
      <p>
        If the video was recently added, then it is probably still processing.
        Check back in a little while.
      </p>
      <h3>Why is it taking so long for my video to encode?</h3>
      <p>
        Provide there are no encoding jobs running, your replay will take at
        least as long as the replay length to encode. Eg: A 1 hour game of kof98
        will take at least 1 hour to encode.
      </p>
      <h3>Why isn't my game supported</h3>
      <p>
        If you wish to add a new game then please add a pull request to
        <a href="https://github.com/glisignoli/fcreplay">fcreplay</a> containing
        the rom name and game name.
      </p>
      <h3>Why doesn't X support character detection?</h3>
      <p>
        At the moment, character detection is done by using fbneo detectors. To
        add more support, add new detectors to
        <a href="https://github.com/JordiRos/fightcade-detectors"
          >fightcade-detectors</a
        >
      </p>
      <p>
        <a href="http://twitter.com/glisignoli">@glisignoli</a>
      </p>

      <h2>Details</h2>
      <h3>Queued Jobs</h3>
      <p>{{toProcess}}</p>
      <h3>Recorded replays</h3>
      <p>{{ numberOfReplays }}</p>
      <h3>Supported Games</h3>
      <table class="table">
        <thread class="text-primary">
          <th>Game</th>
          <th>Number of Replays</th>
        </thread>
        <tbody>
          {% for game in supportedGames.values() -%}
          <tr>
            <td>{{ game.game_name }}</td>
            <td>{{ game.count }}</td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
