{% extends 'dashboard.j2.html' %}{% from 'bootstrap4/form.html' import
render_field, render_form_row %}{% block content %}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">
        Advanced Search
      </h4>
    </div>
    <div class="card-body">
      <form action="/advancedSearchResult" method="GET" class="form" role="form">
        <ul>
          <div class="input-group top-buffer">
            <label for="search" class="bmd-label-floating">
              Search
            </label>
            <input type="text" class="form-control" id="search" name="search" />
          </div>

          <div class="input-group top-buffer">
            {{ render_field(advancedSearchForm.game) }}
          </div>

          <div class="input-group top-buffer">
            <div class="row">
              <div class="col">
                {{ render_field(advancedSearchForm.p1_name)}}
              </div>
              <div class="col">
                {{ render_field(advancedSearchForm.p2_name)}}
              </div>
            </div>
          </div>

          <script>
          $(function () {
            $('.advancedAutoComplete').autoComplete({
              resolver: 'custom',
              events: {
                search: function (qry, callback) {
                  // let's do a custom ajax call
                  $.ajax(
                    'api/playerlist/search',
                    {
                      type: 'POST',
                      contentType: 'application/json; charset=utf-8',
                      dataType: 'json',
                      data: JSON.stringify({ 'player_id': qry })
                    }
                  ).done(function (res) {
                    callback(res)
                  });
                }
              }
            });
          });
          </script>

          <div class="input-group top-buffer">
            <div class="row">
              <div class="col">
                {{ render_field(advancedSearchForm.p1_rank) }}
              </div>
              <div class="col">
                {{ render_field(advancedSearchForm.p2_rank) }}
              </div>
            </div>
          </div>

          <script type="text/javascript" language="javascript">
            //Get Select data
            function gameSelect(sel) {
              var game = sel.value;
              //var game_data = JSON.parse("{{ character_dict }}");
              var game_data = {{ character_dict|tojson }};
              if (game in game_data) {
                // Populate fields
                var chars = game_data[game];
                var innerHTML;
                innerHTML += '<option value=\'Any\'>Any</option>'
                for (const c of chars) {
                  innerHTML += '<option value=\'' + c + '\'>' + c + '</option>'
                }
                document.getElementById("char1").innerHTML = innerHTML;
                document.getElementById("char2").innerHTML = innerHTML;
              } else {
                innerHTML += '<option value=\'Any\'>Any</option>'
                document.getElementById("char1").innerHTML = innerHTML;
                document.getElementById("char2").innerHTML = innerHTML;
              }
            };
          </script>

          <div class="input-group top-buffer" id="charSelectGroup">
            <div class="row">
              <div class="col">
                {{ render_field(advancedSearchForm.char1) }}
              </div>
              <div class="col">
                {{ render_field(advancedSearchForm.char2) }}
              </div>
            </div>
          </div>

          <div class="row">
            <small id="CharacterHelp" class="text-muted" style="visibility: hidden;">
              Characters will be searched for both players
            </small>
          </div>

          <div class="input-group top-buffer">
            {{ render_form_row([advancedSearchForm.order_by]) }}
          </div>
          <div class="input-group top-buffer">
            {{ render_form_row([advancedSearchForm.submit]) }}
          </div>
        </ul>
      </form>
    </div>
  </div>
</div>
{% endblock %}
