{% from 'bootstrap4/form.html' import render_field, render_form_row %}
<form action="/search" method="GET" class="form" role="form">
  <ul>
    <div class="input-group top-buffer">
      <label for="search" class="bmd-label-floating">
        Search
      </label>
      <input type="text" class="form-control" id="search" name="search" />
    </div>

    <div class="input-group top-buffer">
      {{ render_field(form.game) }}
    </div>

    <div class="input-group top-buffer">
      {{ render_form_row([form.order_by]) }}
    </div>
    <div class="input-group top-buffer">
      {{ render_form_row([form.submit]) }}
    </div>
  </ul>
</form>
