{% extends 'dashboard.j2.html' %} {% block content %} {% from
'bootstrap4/form.html' import render_field, render_form_row %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">
        Submit Replay
      </h4>
    </div>
    <div class="card-body">
      <ul>
        <div class="row">
          <p>You can upload your Fightcade match videos using the challenge URLs from <a href='https://www.fightcade.com/replay/'>https://www.fightcade.com/replay/</a>.</p>
        </div>
        <div class="row">
          <p>Fightcade videos are found on the replay site by searching by your game's rom name, for example sf2ce for Street Fighter 2: Championship Edition.</p>
        </div>
        <div class="row">
          <p>On the replay site, right click on the blue "View Replay" button for the match you want to upload, copy the link location, and then paste that copied link into the input box below.</p>
        </div>
        <div class="row">
          <p>Just note that videos will not appear immediately. The time to encode and upload your video to Fightcadevids will depend on how long the video is and the site's queue size.</p>
        </div>
      </ul>
      <form action="/submitResult" method="POST" class="form" role="form" id="submitForm">
        <ul>
          <div class="input-group top-buffer">

            <div class="row">
              <div class="col">
                {{ render_field(submitForm.challenge_url) }}
              </div>
            </div>
          </div>
        </ul>
          {{ render_form_row([submitForm.submit]) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
