# IDE and build
.idea
venv
.vscode
dist
*.egg-info
build
__pycache__/
fcreplay/__pycache__/
.terraform
terraform.tfstate
terraform.tfstate.backup

# Config files
.client_secrets.json
.ia
.storage_creds.json
.youtube-upload-credentials.json
config.json
description_append.txt

# Log file
fcreplay.log
