# IDE and build
*.egg-info
.idea
.terraform/
.vscode
__pycache__/
build
dist
fcreplay/__pycache__/
.terraform
terraform.tfstate
terraform.tfstate.backup
venv
*.ipynb

# Config files
.client_secrets.json
.ia
.storage_creds.json
.youtube-upload-credentials.json
config.json
config_dev.json
description_append.txt

# Log file
fcreplay.log
