{
  "fcreplay_dir": "/home/fbarecorder/fcreplay",
  "pyqtggpo_dir": "/home/fbarecorder/fcreplay/pyqtggpo-master",
  "logfile": "/home/fbarecorder/fcreplay/fcreplay.log",
  "replay_pages": "20",
  "loglevel": "DEBUG",
  "sqlite_db": "replays.db",
  "random_replay": true,
  "obs_video_filename": "replay.mkv",
  "remove_generated_files": true,
  "blackdetect": true,
  "detect_chars": true,
  "upload_to_yt": false,
  "youtube_credentials": "/home/fcreplay/.youtube-upload-credentials.json",
  "youtube_secrets": "/home/fcreplay/.client_secrets.json",
  "youtube_max_daily_uploads": "5",
  "upload_to_ia": false,
  "ia_settings": {
    "mediatype": "video",
    "collection": "opensource_movies",
    "language": "English",
    "creator": "Your Name",
    "subject": ["3rds strike", "street fighter", "video", "fightcade"],
    "license_url": "http://creativecommons.org/publicdomain/zero/1.0'"
  }
}
