{
    "auto_add_more": true,
    "auto_add_search_string": "sfiii3n",
    "blackdetect": true,
    "channel": "sfiii3n",
    "description_append_file": [
        false,
        "/path/to/file.txt"
    ],
    "detect_chars": true,
    "fcreplay_dir": "/home/fcrecorder/fcreplay",
    "gcloud_bucket": "fba-recorder_temp-videos",
    "gcloud_project": "gcloud project id",
    "gcloud_region": "gcloud region id",
    "gcloud_storage_creds_path": "/path/to/creds.json",
    "ia_settings": {
        "collection": "opensource_movies",
        "creator": "Your Name",
        "language": "English",
        "license_url": "http://creativecommons.org/publicdomain/zero/1.0",
        "mediatype": "video",
        "subject": [
            "3rds strike",
            "street fighter",
            "video",
            "fightcade"
        ]
    },
    "logfile": "/home/fcrecorder/fcreplay/fcreplay.log",
    "loglevel": "DEBUG",
    "max_replay_length": 10800,
    "min_replay_length": 60,
    "obs_video_filename": "replay.mkv",
    "password": "CHAT_PASSWORD",
    "player_replay": true,
    "pyqtggpo_dir": "/home/fcrecorder/fcreplay/pyqtggpo-master",
    "random_replay": true,
    "record_timeout": 120,
    "remove_generated_files": true,
    "replay_pages": "20",
    "sql_baseurl": "postgres://user:pass@address:port",
    "upload_to_ia": false,
    "upload_to_yt": false,
    "username": "CHAT_USERNAME"m
    "youtube_credentials": "/home/fcrecorder/.youtube-upload-credentials.json",
    "youtube_max_daily_uploads": "5",
    "youtube_secrets": "/home/fcrecorder/.client_secrets.json",
    "yt_max_length": 120,
    "yt_min_length": 0
}