[Unit]
Description=FightCade Record
After=cloud-init.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gcloudlauncher.sh
User=fcrecorder
Group=fcrecorder
WorkingDirectory=/home/fcrecorder

[Install]
WantedBy=cloud-init.target