[Unit]
Description=FightCade Record
After=cloud-init.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gcloudlauncher.sh
User=fbarecorder
Group=fbarecorder
WorkingDirectory=/home/fbarecorder

[Install]
WantedBy=cloud-init.target