[Unit]
Description=Destroy Google Cloud instance on shutdown
Conflicts=poweroff.target
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/local/bin/destroy_gcloud.sh
RemainAfterExit=true
User=fcrecorder
Group=fcrecorder
WorkingDirectory=/home/fcrecorder/fcreplay

[Install]
WantedBy=multi-user.target