[Unit]
Description=FightCade Record
After=cloud-final.service

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/local/bin/fcreplaylauncher.sh
ExecStop=/usr/local/bin/fcreplayshutdown.sh
User=fcrecorder
Group=fcrecorder
WorkingDirectory=/home/fcrecorder

[Install]
WantedBy=cloud-init.target